@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
}
ul,
li {
  padding: 0;
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 30px;
}

header {
  grid-column: span 3; /* Makes header span 3 columns (in the middle) */
  text-align: center;
  border-bottom: 1px solid #ddd; /* Forms the horizontal line separating the h1 from the rest of the page */
}

nav {
  padding: 30px;
  border-right: 1px solid #ddd; /* Forms the verticle line separating the nav and the header content */
}
