@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body {
  margin: 0;
  font-family: "Poppins";
  background: #f5f5f5;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
}

header {
  padding: 20px 40px;
  background: #fff;
}

header h1 {
  grid-column: span 6;
}

header nav {
  grid-column: 7 / span 6;
  justify-self: end;
}
